/*
* @Author: 1390035598
* @Date:   2018-07-21 18:34:18
* @Last Modified by:   1390035598
* @Last Modified time: 2018-07-25 15:21:24
*/
body{
    background:#ccc;
    color: red;
    font-size: 50px;
}